
.headerlinks{
    font-size: 25px;
    position: relative;
    top: -23px;
    color: black;
} 


.headerlinksdesktop{
    font-size: 25px;
    position: relative;
    top: 18px;
    color: black;
} 